/* .menu-content{
  width:100%;
  background-color: blue;
}*/

@media only screen and (max-width: 1000px) {
  .menu-cont{
    
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
  }
} 
.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;
    
  }
  
  .card-carousel .my-card {
    height: 16rem;
    min-width: 17rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:5px solid #FF0000 ;
    transition: 1s;
  }
  @media only screen and (max-width:1000px) {
    .card-carousel .my-card {
      min-width: 200px;
      overflow: hidden;
    }
  }
  .card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }

  .card-carousel .my-card:nth-child(0):before {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(1):before {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(2):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(3):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(4):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
















.kdjmnd
{
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 5%;
  overflow: hidden;
}
.kdjmndnv{

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 4%;
  overflow: hidden;

}
.nv-con{
  align-items: center;
  justify-content: center;
  position: relative;
}
  .card-carouselnv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 25%;
  }

  @media only screen and (max-width: 1000px) {
    .card-carouselnv {
        
    }
  }
  
  .card-carouselnv .my-cardnv {
    border-left: 5px solid #FF0000;
    height: 16rem;
    min-width: 17rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
  }
  
  @media only screen and (max-width: 1000px) {
    .card-carouselnv .my-cardnv {
      min-width: 200px;
      
    }
  }
  .card-carouselnv .my-cardnv:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  .card-carouselnv .my-cardnv.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
  
  .card-carouselnv .my-cardnv.prev, .card-carouselnv .my-cardnv.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }

  .card-carouselnv .my-cardnv:nth-child(0):before {
    content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carouselnv .my-cardnv:nth-child(1):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carouselnv .my-cardnv:nth-child(2):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carouselnv .my-cardnv:nth-child(3):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carouselnv .my-cardnv:nth-child(4):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }





























  .menu-title{
    margin-top: 5%;
    align-items: center;
    margin-left: 41%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #FF0000;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefoxecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
  }
  .menu-title-nv{
    margin-top: 5%;
    align-items: center;
    margin-left: 38.5%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #FF0000;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefoxecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
  }
  .menu-img{
    margin-left: auto;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-meals{
    margin-left: auto;
    justify-content: center;
    margin-top: 7%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-pongal{
    margin-left: auto;
    justify-content: center;
    margin-top: 7%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-poori{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-dosa{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-idly{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-chapathi{
    margin-left: auto;
    justify-content: center;
    margin-top: 3%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-onion{
    margin-left: auto;
    justify-content: center;
    margin-top: 3%;
    margin-left: 13%;
    align-items: center;
    width:75%;
    height: auto;
  }
  .menu-img-kichidi{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    width:80%;
    height: auto;
  }
  .menu-img-tomatorice{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    width:80%;
    height: auto;
  }
  .menu-img-curdrice{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    width:80%;
    height: auto;
  }
  .menu-img-gheerice{
    margin-left: auto;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    width:80%;
    height: auto;
  }
  .menu-img-chickenbriyani{
    margin-left: auto;
    justify-content: center;
    margin-top: 8%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-muttonbriyani{
    margin-left: auto;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    width:80%;
    height: auto;
  }
  .menu-img-prawnbriyani{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-eggbriyani{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-chickengravy{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-prawngravy{
    margin-left: auto;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-crabgravy{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-tamarind{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-vegbriyani{
    margin-left: auto;
    justify-content: center;
    margin-top: 10%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-egggravy{
    margin-left: auto;
    justify-content: center;
    margin-top: 13%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-fishcurry{
    margin-left: auto;
    justify-content: center;
    margin-top: 13%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-limerice{
    margin-left: auto;
    justify-content: center;
    margin-top: 13%;
    margin-left: 5%;
    align-items: center;
    width:90%;
    height: auto;
  }
  .menu-img-fishfry{
    margin-left: auto;
    justify-content: center;
    margin-top: 5%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-chicken65{
    margin-left: auto;
    justify-content: center;
    margin-top: 5%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-img-prawn65{
    margin-left: auto;
    justify-content: center;
    margin-top: 5%;
    margin-left: 8%;
    align-items: center;
    width:85%;
    height: auto;
  }
  .menu-caption-meals{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -2%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-tamarind{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -2%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-limerice{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 5%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-vegbriyani{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 5%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-pongal{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -2%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-poori{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 2%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-dosa{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 1%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-idly{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 1%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-chapathi{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 1%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-onion{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 0%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-kichidi{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 7%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-tomatorice{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -1%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-curdrice{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -1%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-gheerice{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -10%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-chickenbriyani{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: 2%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-muttonbriyani{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -8%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-prawnbriyani{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-eggbriyani{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-chickengravy{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -10%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-prawngravy{
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -10%;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-crabgravy{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-egggravy{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-fishcurry{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
    margin-top: 5%;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-fishfry{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
    margin-top: 5%;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-chicken65{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
    margin-top: -10%;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption-prawn65{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     width: 100%;
  }
  .menu-caption{
    padding-top: 10px;
    padding-bottom: 16px;
    color:black;
     align-items: center;
     text-align: center;
     font-size: 21px;
     font-weight: bold;
     margin-top: -40px;
     width: 100%;
  }
  .display-menu-flex{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left:33%;
  }