.boxsplit{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.boxsplit-left{
    flex: 45%;
    margin-bottom: 5%;
    /* margin-right: 2px; */
}
.boxsplit-right{
    flex: 45%;
}
@media (max-width: 1200px) {
    .boxsplit-right {
      flex: 100%;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom:  3%;

    }
    .boxsplit-left {
        flex: 100%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 0%;
    }
  }

.top{
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #FF0000;;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    height:26px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 20px; */
}
@media only screen and (max-width: 1200px) {
    .top{
        width: 100%;
    }
}
.f_t{
    color: black;
    font-size: 49px;
    letter-spacing: -1px;
    font-weight: bolder;
    margin-top: -6px;
}

.parah1{
    color: grey;
    letter-spacing: 1px;
    margin-top: 10px;
}

.s_t{
    color: black;
    font-size: 49px;
    letter-spacing: -1px;
    font-weight: bolder;
    margin-top: 4%;
}
@media only screen and (max-width: 1200px) {
    .s_t{
        font-size: 42px;
    }
}

.hrmeals{
    border: 2px solid #FF0000;
    background-color: #FF0000;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 13%;
}
.hrmeals-break{
    border: 2px solid #FF0000;
    background-color: #FF0000;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 13%;
}

.img1{
    height: 300px;
    width: 100%;
    margin-top: -50px;
    
}
.img9{
    height: 250px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.img8{
    height: 350px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.parah2{
    color: black;
    margin-top: 30px;
    line-height: 30px;
}
.parah3-dinner{
    color: black;
    margin-top: 1%;
    line-height: 30px;
}

.img2{
    height: 300px;
    width: 100%;
    margin-top: 40px;
}

.top_r{
    /* margin-left: 20px; */
    color: white;
    font-weight: 600;
    font-size: larger;
    background-color: #FF0000;;
    /* width: 50%; */
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.top_r:hover{
    background-color: white;
    color: #FF0000;
    border-style: solid;
    border-color: #FF0000;
    padding-top: 15px;
}
.logo{
    height: 350px;
    width: 100%;
    margin-top: -60px;
}

.chart{
    height: 600px;
    width: 100%;
    margin-top: -50px;
}

.menu-box-alt{
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-color: #FF0000;
    /* width: 50%; */
    margin-top: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: -0.5px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    letter-spacing: 2px;
}
@media only screen and (max-width:1200px){
    .menu-box-alt{
        margin-top: 0px;
    }
}

.menuchart{
    height: 1000px;
    width: 100%;
    margin-top: 90px;
    
    /* margin-bottom: -20px; */
}

.title{
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #FF0000;;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    height:26px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: 50px;

}


.t2{
    /* margin-top: 100px; */
    margin-top: 45px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.vege{
    height: 300px;
    width: 100%;
    margin-top: 40px;
}

.parah3{
    color: black;
    margin-top: -80px;
    letter-spacing: -0.5px;
    line-height: 2;
}
.bold{
    color: black;
}

.meals{
    height: 500px;
    width: 100%;
    margin-top: 40px;
}
.meals-tab{
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.dinner-tab{
    overflow-x: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.table-mealsbox{
    border-spacing: 0;
    width: 100%;
    border: 0px solid #FF0000;
}
.th-meals{
    text-align: left;
    padding: 8px;
    color: black;
    border: 1px solid #FF0000;
}
.tab-head{
    background-color: #FF0000;
    color: white;
}